<?xml version="1.0" encoding="utf-8"?>
<module 
  loadFromBin="false" 
  description="Allows page preview in view mode." 
  tags="EPiServerModulePackage" 
  type="eGandalf.Epi.PagePreview.PagePreviewModule, eGandalf.Epi.PagePreview"
  clientResourceRelativePath=""
  resourcePath="">
  <assemblies>
    <add assembly="eGandalf.Epi.PagePreview" />
  </assemblies>
  <dojo>
    <paths>
      <add name="egandalf" path="ClientResources"/>
    </paths>
  </dojo>
  <clientResources>
    <add location="preview-styles" path="ClientResources/css/styles.css" resourceType="Style" isMinified="false"/>
  </clientResources>
  <clientModule>
    <moduleDependencies>
    </moduleDependencies>
    <requiredResources>
      <add name="preview-styles"/>
    </requiredResources>
  </clientModule>
</module>